
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
    background-color: #E5EBF5FF;
}

.order_page_title {
    font-size: 30px;
    color: #012970FF;
}
td i {
    cursor: pointer;
    color: green;
}


