*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.foo{
    display: flex;
    justify-content: space-between;
}
.buyurtmalar{
    display: flex !important;
}
.buyurtmalar h5{
    font-size: 13px;
    margin: 0 20px;
}

@media(max-width: 650px){
    #main{
        overflow-x: scroll !important;
    }
}

@media(max-width: 950px){
    .table-responsive{
      overflow-x: scroll !important;
      overflow-y: scroll !important;
    }  
    .foo{
        display: block;
        margin: 10px;
    }
    .comnet{
        margin: 10px;
    }
  }